<%= link_to(notice.notice_path, class: 'notice-link') do %>
  <div class="d-flex notice">
    <div><%= image_tag(notice.notice_image.variant(gravity: :center, resize:"50x50^", crop:"50x50+0+0").processed) %></div>
    <div class="notice-body">
      <span class="notice-span"><%= notice.notice_body %></span>
    </div>
  </div>
<% end %>