<% unless model.errors.messages.empty? %>
  <div class="alert alert-danger">
    <h4><%= model.errors.messages.length %>個のエラーがあります。</h4>
    <ul>
      <% model.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>