@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

body {
  font-family: "游ゴシック体", "YuGothic", "游ゴシック", "Yu Gothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
}

.app-menu {
  a:link { color : #000000; }
  a:visited { color : #000000; }
}

.images-height {
  height: 100px;
}

.images-background {
  background-color: rgb(245, 245, 245);
}

.auto-image {
  max-width: 100%;
  max-height: 100%;
  text-align: center;
}

.user-image {
  width: 100px;
  height: 100px;
}
