<header class="navbar navbar-expand-md navbar-light bg-light">
  <div class="container">
    <%= link_to('フリーマーケット', root_path, { class: 'navbar-brand' }) %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item"><%= link_to('マイページ', '#', { class: 'nav-link' }) %></li>
      </ul>
    </nav>
  </div>
</header>