<header class="navbar navbar-expand-md navbar-light bg-light">
  <div class="container">
    <%= link_to('フリーマーケット', root_path, { class: 'navbar-brand' }) %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
          <li class="nav-item"><%= link_to('マイページ', current_user, class: 'nav-link') %></li>
        <% else %>
          <li class="nav-item"><%= link_to('新規登録', new_user_path, class: 'nav-link') %></li>
          <li class="nav-item"><%= link_to('ログイン', log_in_path, class: 'nav-link') %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>